<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leave Form</title>
</head>
<body>
<div style="width = 80%; height = 5%;margin: auto;"><h1>Time Management Software</h1></div>

<a href="/greeting">Go back home</a>
<form action="/updateLeave" method="post">
    <div><label> Date : <input type="date" name="date" required/> </label></div>
    <div><label> Description : <input type="text" name="description" required/> </label></div>
    <div><input type="submit" value="Update"/></div>
    {% if msg != "noError" %}
    {{msg}}
    {% endif %}
</form>
</body>
</html>