<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
</head>
<body>
<div style="width = 80%; height = 5%;margin: auto;"><h1>Time Management Software</h1></div>
<a href="/greeting">Go back home</a>
<form action="/updatePassword" method="post" >
    <div><label> Old Password: <input type="password" name="oldPassword" required/> </label></div>
    <div><label> New Password: <input type="password" name="newPassword" required/> </label></div>
    <div><label> Confirm New Password: <input type="password" name="confirmNewPassword" required/> </label></div>
    <div><input type="submit" value="Update"/></div>


        <p>{{msg}}</p>
</form>
</body>
</html>